<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Employee Permission</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    {% comment %} <div class="container">
        <div class="title">Change Employee Permissions</div>
        <div class="content">
          <form method="POST">
            {% csrf_token %}
        
            <div class="user-details">
              <div class="input-box">
                {% for field in form %}
                <span class="details">{{ field.label }}</span>
                {{ field }}
                {% endfor %}
              </div>
            </div>
            <div class="button">
              <input type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div> {% endcomment %}

      <h1>Change Permissions</h1>
  <form method="POST" action="{% url 'permissions' %}">
    {% csrf_token %}
    <label for="employee">Employee:</label>
    <select name="employee" id="employee">
      {% for emp in employees %}
        <option value="{{ emp.pk }}">{{ emp.username }}</option>
      {% endfor %}
    </select>

    <label for="permission">Permission:</label>
    <select name="permission" id="permission">
      <option value="given">Given</option>
      <option value="not given">Not Given</option>
    </select>

    <button type="submit">Change</button>
  </form>
  </body>
</html>